</main>
<footer class="shadow p-4 mt-8">
  <div class="bg-black bg-opacity-70 container mx-auto text-center text-gray-100">
    &copy; 2025 FitQuest. All rights reserved.
  </div>
</footer>
</body>
</html>
